@import 'a.css';
@import 'a.css';

a {
    width: 10pixels;
    width: 10pixels;
    font-family: 'Courier New', Courier, monospace;
}
/* */
@keyframes kf {
    from { margin-top: 50px; }
    50%  { margin-top: 150px !important; }
    to   { margin-top: 100px; }
}

.prueba{

}

@media screen and (unknown: 1000px){
    
}

a {
    font-family: 'Georgia', Georgia, serif;
}

p a {
    color: green;
}
  
a {
    color: blue;
}